<div class="modal fade" id="delete_confirm_dialog" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header w3-teal modal-header-cus">
                <h4 class="modal-title">Xác nhận</h4>
                <button class="close" style="margin-top:-20px;" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="idConfirmDialog" style="display:none;"></div>
                <label id="idLabelComfirmDialog">Bạn có muốn xóa?</label>
            </div>

            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Hủy</button>
                <button id="confirmaction" type="button" class="btn btn-primary" onclick="">Xác nhận</button>
            </div>
        </div>
    </div>
</div>
